#==============================================================================#
# ASSIMPLY GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# OS files
#==============================================================================#
# Linux
*~
# Apple
.DS_Store
.AppleDouble
.LSOverride
.svn
.Spotlight-V100
.Trashes
# Windows
Thumbs.db
Desktop.ini

#==============================================================================#
# Folder for temp contents
#==============================================================================#
_ignore
