#==============================================================================#
# ASSIMPLY GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# Ignore anyway
#==============================================================================#
_ignore

#==============================================================================#
# OS
#==============================================================================#
#==============================================================================#
# Linux
#==============================================================================#
#   General
#==============================================================================#
*~
#==============================================================================#
#   KDE directory preferences
#==============================================================================#
.directory
#==============================================================================#
#   Linux trash folder which might appear on any partition or disk
#==============================================================================#
.Trash-*

#==============================================================================#
# MIPS
#==============================================================================#

#==============================================================================#
# ARM
#==============================================================================#

#==============================================================================#
# EDITOR
#==============================================================================#
#==============================================================================#
# Atom
#==============================================================================#
#==============================================================================#
#   Build-Tools
#==============================================================================#
.build-tools.cson
